@import 'vars';
@import 'global';
@import 'fonts';
// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
}

.header__logo {
    margin: 0 60px;
}

.header__menu {
    li {
        display: inline-block;
    }
    li + li {
        margin-left: 45px;
    }
    a {
        font-size: 13px;
        line-height: 17px;
        color: #989696;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        transition: color .3s;
    }
    a:hover {
        color: #010101;
    }
}

.mainPage__inner {
    .mainPage__innerBox {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainPage__innerBoxWrapper {
        text-align: center;
        display: block;
    }
    h1 {
        color: #1d1e1f;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 44px;
        line-height: 45px;
    }
    h2 {
        color: #898888;
        font-family: 'Merriweather', serif;
        font-size: 16px;
        line-height: 17px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 50px;
    }
    a {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        line-height: 13px;
        font-weight: 400;
        padding: 25px 50px;
        border: 1px solid #000;
        transition: color .3s;
        transition: background-color .3s;
    }
    a:hover {
        color: #fff;
        background-color: #000;
    }
    .mainPage__rollDown {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #e0e0e0;
        margin-bottom: 70px;
    }
    .mainPage__rollDown::before,
    .mainPage__rollDown::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .mainPage__rollDown::before {
        background-color: #f0f0f0;
        top: -25px;
    }
    .mainPage__rollDown::after {
        background-color: #d0d0d0;
        bottom: -25px;
    }
    //    .mainPage__innerBox > .mainPage__rollDown:first-child {
    //        background-color: #f0f0f0;
    //        bottom: 150px;
    //    }
    //    .mainPage__innerBox > .mainPage__rollDown:nth-child(2) {
    //        background-color: #e0e0e0;
    //        bottom: 125px;
    //    }
    //    .mainPage__innerBox > .mainPage__rollDown:first-child {
    //        background-color: #d0d0d0;
    //        bottom: 150px;
    //    }
}

.about {
    background-color: #1d1d1d;
    position: relative;
    .about__inner {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .about__items {
        max-width: 395px;
        width: 100%;
        color: #fff;
    }
    .about__itemsRight {
        height: 200px;
        text-align: end;
        margin-top: 150px;
        margin-right: 55px;
    }
    .about__itemsLeft {
        height: 206px;
        margin-top: 270px;
        margin-left: 25px;
    }
    .about__itemYear {
        color: #fefefe;
        font-size: 48px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }
    p {
        color: #b7b7b7;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
    }
    .about__bottomDecoration {
        position: absolute;
        bottom: -3px;
        background-image: url(../images/aboutBottomDecoration.png);
        width: 100%;
        height: 264px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.ourTeam {
    padding-top: 50px;
    padding-bottom: 90px;
    text-align: center;
    h3 {
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        color: #1d1e1f;
        font-size: 34px;
        line-height: 34px;
        font-weight: 300;
    }
    h4 {
        font-family: 'Merriweather', serif;
        color: #898888;
        font-size: 16px;
        line-height: 16px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 130px;
    }
    .ourTeam__memberContainer {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0 100px;
        min-height: 380px;
    }
    .ourTeam__memberBox {
        position: relative;
    }
    .ourTeam__memberBox:first-child,
    .ourTeam__memberBox:last-child {
        top: 90px;
    }
    .ourTeam__memberPhoto {
        width: 170px;
        height: 170px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto 25px auto;
    }
    .ourTeam__memberName {
        font-family: 'Roboto', sans-serif;
        color: #464646;
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .ourTeam__memberDescription {
        font-family: 'Roboto', sans-serif;
        color: #b3b3b3;
        font-size: 13px;
        line-height: 13px;
        font-weight: 300;
        margin-bottom: 25px;
    }
}

.services {
    padding-top: 255px;
    background-image: url(../images/services/bgImage.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
    height: 1664px;
    text-align: center;
    h3 {
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 34px;
        line-height: 34px;
        font-weight: 300;
    }
    h4 {
        font-family: 'Merriweather', serif;
        color: #777777;
        font-size: 16px;
        line-height: 16px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 220px;
    }
    .services__itemContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 480px;
    }
    .services__itemBox {
        width: 345px;
    }
    .services__itemIcon {
        margin: 0 auto 45px auto;
        width: 178px;
        height: 178px;
    }
    .services__itemTitle {
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 26px;
        line-height: 26px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .services__itemText {
        font-family: 'Roboto', sans-serif;
        color: #383838;
        font-size: 18px;
        line-height: 18px;
        font-weight: 300;
    }
    .services__blogBtn {
        text-decoration: none;
        text-transform: uppercase;
        padding: 25px 45px;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        color: #000;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
    }
}

.contact {
    min-height: 900px;
    &__inner {
        padding: 100px 200px;
        text-align: center;
        &-headerTitle {
            font-family: 'Roboto', sans-serif;
            font-size: 34px;
            line-height: 34px;
            margin-bottom: 15px;
            font-weight: 400;
            color: #1d1e1f;
        }
        &-underline {
            font-family: 'Merriweather', serif;
            color: #898888;
            font-size: 16px;
            line-height: 16px;
            font-weight: 300;
            font-style: italic;
            margin-bottom: 65px;
        }
        &-items {
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 155px;
            & a {
                text-decoration: none;
                padding-top: 35px;
                color: #898888;
                display: inline-block;
                width: 170px;
                position: relative;
            }
            & a::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
            & a:first-child::before {
                background-image: url(../images/icons/phone.png);
                width: 14px;
                height: 21px;
            }
            & a:nth-child(2)::before {
                background-image: url(../images/icons/pin.png);
                width: 16px;
                height: 21px;
            }
            & a:last-child::before {
                background-image: url(../images/icons/envelope.png);
                width: 19px;
                height: 13px;
            }
        }
        &-form {
            & form {
                display: flex;
                flex-direction: column;
                & input {
                    display: block;
                    width: 100%;
                    height: 50px;
                    border: 1px solid rgb(153, 153, 153);
                    outline: none;
                    margin-bottom: 20px;
                    padding: 0 20px;
                    text-align: center;
                    &::placeholder {
                        font-family: 'Roboto', sans-serif;
                        color: #898888;
                        font-size: 15px;
                    }
                }
                & textarea {
                    padding: 20px 20px;
                    height: 193px;
                    border: 1px solid rgb(153, 153, 153);
                    outline: none;
                    text-align: left;
                    margin-bottom: 20px;
                    resize: none;
                    &::placeholder {
                        font-family: 'Roboto', sans-serif;
                        color: #898888;
                        font-size: 15px;
                    }
                }
                & button {
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 50px;
                    color: #fff;
                    background-color: rgb(22, 22, 22);
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                }
            }
        }
    }
}

.footer {
    &__inner {
        height: 124px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-copy {
            font-family: 'Roboto', sans-serif;
            color: #3b3b3b;
            font-size: 14px;
        }
    }
}
